@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}
@keyframes flashingText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.flash-effect {
  animation: flashingText 2s linear infinite;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  
}
/* .myImage{
  background-image: url('https://img.freepik.com/premium-psd/etherium-coin-3d-rendering_79831-574.jpg?w=740');
} */

.header {
  padding: 20px;
  text-align: center;
  background: #f7f7f7;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 40px;
}

.button {
  padding: 10px 30px;
  border-radius: 20px; /* oval shape */
  background: linear-gradient(45deg, #6ee7b7, #3b82f6);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.1);
}

.connected {
  background: linear-gradient(45deg, #10b981, #059669);
}

.disconnected {
  background: linear-gradient(45deg, #ef4444, #b91c1c);
}

.status, .error {
  margin-top: 15px;
  color: #333;
  text-align: center;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #f7f7f7;
}
a{
  text-decoration: none;
}

